body {
    margin: 0 0 0 0;
}

#content {
    width: 1200px;
    margin: 0px auto 0px auto;
}

#header {
    height: 80px;
    text-align: center;
    background-color: #f5f5f5;
}

#options {
    height: 150px;
    background-color: #696969;
}

#procedure-input {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 2em;
    text-align: center;
}

#package-list span:nth-child(2n+1)  {
    background-color: #d3d3d3;
}

h1 {
    margin-top: 0px;
    padding-top: 15px;
    font-family: Helvetica;
    font-size: 39px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 42.9px;
}
h3 {
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 30.8px;
}

/* unvisited link */
td a:link {
    color: #696969;
}

/* visited link */
td a:visited {
    color: #696969;
}

/* mouse over link */
td a:hover {
    color: #696969;
}

/* selected link */
td a:active {
    color: #696969;
}

span, p, td {
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 31.4333px;
}

blockquote {
    font-family: Helvetica;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 25.7167px;
}
